*{
    margin: 0;
    padding: 0;
}

/* google font work sens */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shear style */
.flex-display{
    display: flex;
}

.dark1{
   color:  rgb(19, 19, 19);
}

.dark3{
    color: rgb(114, 114, 114);
}
.btn-primary{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    border: none;
    padding: 10px 20px;
}


.title{
    font-size: 2.8rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
}

.description{
    color: rgb(114, 114, 114);
    font-weight: 700;
}

/* header */
.head{
    background-color: rgba(255, 144, 14, 0.1);
}
/* navbar */
.navbar{
    max-width: 85%;
    margin: 0px auto;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.navbar h4{
    font-size: 2.8rem;
    font-weight: 700;
}

.navbar li{
   list-style: none;
   margin-right: 30px;
}

.navbar li a{
    text-decoration: none;
     color: rgb(66, 66, 66);
    font-size: 1.2 rem;
    font-weight: 500;
}

/* banner */
.banner-description{
    max-width: 60%;
    margin: 100px auto;
    text-align: center;
}

.banner-description p{
    margin: 20px auto;
}

.banner img{
    border-radius: 10px;
    width: 100%;
}
.banner-img{
    max-width: 85%;
    margin: 5px auto;
}


/* quick list section */
.quick-list{
    max-width: 80%;
    margin: 50px auto;
    align-items: center;
    gap: 50px;
}

.quick-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
.quick-img{
    width: 220px;
    height: 220px;
}
.quick-img img{
    width: 100%;
}

.quick{
    color: rgb(114, 114, 114);
    font-weight: 500;
}
.quick-description h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
}
.feature{
    color: rgb(255, 144, 14);
}
.quick-description p{
    margin: 20px auto;
}


/* features-container section */

.features-container{
    max-width: 85%;
    margin: 80px auto;
    align-items: center;
    gap: 10%;
}


.feature-description{
    margin-top: 50px;
    width: 45%;
}

.feature-title{
    border-left: 3px solid rgb(255, 144, 14);
    padding-left: 10px;
    margin-bottom: 20px;
}
/* feature-card */
.feature-card{
    margin:10px 5px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
    background-color: white;
    padding: 15px;
}

.card-title{
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 10px;
}

.features-img{
    max-width: 45%;

}
.features-img img{
    width: 100%;
}

.features-img button{
    margin-top: -70px;
    margin-left: -80px;
}

.year{
    font-size: 4rem;
    font-weight: 700;
}
.exp{
    font-size: 1.5rem;
    font-weight: 500;
}


/* some-facts */
.some-facts{
    max-width: 85%;
    margin: 50px auto;
}

.some-facts .description{
    margin: 30px 0;
}

.some-card-container{
    margin: 50px 20px;
    justify-content: space-between;
}

.some-card{
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
}

.card-title{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(66, 66, 66);
    text-align: center;
}


/* Our Sponsors */

.our-sponsors{
    max-width: 85%;
    margin: 50px auto;
   
}

.sponsors-description{
    max-width: 50%;
    margin: 30px auto;
    text-align: center;
}

.company-container{
    justify-content: space-between;
}

.company img{
    filter: grayscale(1);
}

footer{
    max-width: 85%;
    margin: 50px auto;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
    background-color: rgb(255, 244, 231);
   
}



/* responsive for mobile */


@media screen and (max-width:576px) {
    .navbar,
    .quick-list,
    .features-container
    {
        flex-direction: column;
        text-align: center;
    }
    .navbar h4{
        font-size: 2rem;
    }
    .banner-description{
        max-width: 100%;
    }
    .banner-description h1{
        font-size: 2rem;
    }
    
    .quick-list{
        max-width: 100%;
    }
    .quick-img-container{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .quick-description h2{
        font-size: 2rem;
    }


    .features-container{
    max-width: 100%;
    margin: 80px auto;
    align-items: center;
    gap: 10%;
    }
    .feature-description{
    width: 100%;
    }

    .feature-title{
        border-bottom: 3px solid rgb(255, 144, 14);
        border-left: none;
        font-size: 2rem;
        padding-bottom: 10px;
    }

    
    .features-img{
        margin: 20px 5px;
    max-width: 100%;
    }

    .features-img button{
    margin: 10px auto;
    }

    .year{
    font-size: 1.5rem;
    font-weight: 700;
    }
    .exp{
    font-size: 1rem;
    font-weight: 500;
    }


    .hide{
        display: none;
    }
    /* some fact */

    .some-card-container{
        flex-direction: column;
        gap: 20px;
        margin: 30px auto;
        align-items: center;
    }

    .some-facts{
        text-align: center;
    }

    /* our-sponsors */


    .sponsors-description{
        max-width: 85%;
    }

    .company-container{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .title{
       font-size: 2rem;
    }




}